.header {
  background-color: rgba(100,100,100, 0.5);
  padding: 10px 0;

}
.title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*width: 100%;*/
  color: white;
}


.backImg {
  width: 100vw;
  height: 100vh;
  background: no-repeat center/cover url("../../assets/img/nppay.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background-color: orange;
  width: 180px;
  height: 40px;

  border-radius: 20px;
  font-size: 17px;
  margin: 10px auto;
}
.contextName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
